<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>브링잇 랜딩페이지</title>

    <link rel="shortcut icon" href="/icon_bringit.png">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="img/bringit_letter.png" style="height:3vh"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">스토리</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#summary">한줄요약</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">연락처</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1><strong>아침 출근 길,<font style="color:orange"> 단 한 명의 고객도</font> 놓치지 마세요</strong></h1>
                <hr>
                
                <a href="#about" class="btn btn-primary btn-xl page-scroll"><h1>Bring it!</h1></a>
            </div>
        </div>
    </header>

    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading" style="color:#F2CD1E">"모닝커피를 마실 수 있게 해주세요!"</h1>
                    <hr class="light">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img src="img/graph_ingu_1.png" style="width: 100%;" />
                        </div>
                        </div>
                        <br>
                        <br>
                        <p>9시라는 출근시간이 다가오면서 유동인구대비 커피구입비율이 급격히 하락합니다. </p>
                        <p>출근 시간에 쫓겨 커피를 구매할 여유가 없기 때문입니다.</p>
                        <br><br><br>
                         <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img src="img/graph_ingu_2.png" style="width: 100%;" />
                        </div>
                    </div>
                        
                        <p>여유가 없어 커피를 구매하지 못하고 출근한 사람들 중 일부는 출근도장을 찍고 다시 나와 커피를 구매합니다.</p><br>
                        <p>이는 커피 구입 비율이 9시 10분에 다시 급격히 상승하는것을 통해 확인할 수 있습니다.</p>
                         <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img src="img/graph_ingu_3.png" style="width: 100%;" />
                        </div>
                    </div>
                    <br>
                    <p>브링잇은 모닝커피의 <strong style="color:#E3344B">데스벨리</strong>를 채워줍니다.</p><br>
                    <p>평균 구매율인 <font style="color:#E3344B">13%</font>를 넘어 구입의 편의성, 접근성을 증가시켜 최소 <font style="color:#56A9F6">15%</font>이상 증가시킬것입니다.</p><br>
                    <p>즉, 한달에 <strong>378잔</strong>을 더 팔수있습니다.</p>
                </div>
            </div>
        </div>
    </section>
    
     <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading">모닝커피를 약속하세요!</h1>
                    <hr class="light">
                      <div class="row">
                        <div class="col-md-6">
                            <img src="img/ui1.jpg" style="width: 50%"/>
                        </div>
                        <div class="col-md-6">
                            <img src="img/ui2.png" style="width: 50%"/>
                        </div>
                     </div>
                     <br>
                        <h3>Bring it이 약속을 지켜드리겠습니다!</h3>
                </div>
            
        </div>
    </section>

    <section id="summary" class="yellow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">한줄 요약</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-users"></i>
                        <h3>출근길에 모닝커피 구입을 실패하는 고객</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-credit-card"></i>
                        <h3>간편한 주문&결제 솔루션</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-coffee"></i>
                        <h3>소중한 모닝커피</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-line-chart"></i>
                        <h3>매출상승!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">연락주세요!</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-4x"></i>
                    <p>010-9596-7403</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-4x"></i>
                    <p><a href="mailto:your-email@your-domain.com">dwno31@bringit.kr</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>

