<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="img/icon.png" style="height:5vh"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">스토리</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#summary">한줄요약</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">연락처</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1><strong>당신은 <font style="color:red">고객들의 갈망</font>을 외면하고 있습니다.</strong></h1>
                <hr>
                
                <a href="#about" class="btn btn-primary btn-xl page-scroll"><h1>Bring it!</h1></a>
            </div>
        </div>
    </header>

    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading" style="color:#F2CD1E">모닝커피를 지켜줍시다</h1>
                    <hr class="light">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img src="img/black2.png" style="width: 100%;" />
                        </div>
                        </div>
                        <br>
                        <h3>9시라는 출근시간이 다가오면서 유동인구대비 커피구입비율이 급격히 하락합니다. 
                        출근 시간에 쫓겨서 커피를 구매할 여유가 없기 떄문입니다.</h3>
                        <br><br><br>
                         <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img src="img/black3.png" style="width: 100%;" />
                        </div>
                    </div>
                        
                        <h3>여유가 없었던 사람들 중 일부는 출근도장을 찍고 다시 나와 커피를 구매합니다.<br>
                        이는 9시 10분에 다시 급격히 상승하는것을 통해 확인할 수 있습니다.</h3>
                         <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img src="img/average.png" style="width: 100%;" />
                        </div>
                    </div>
                    <br>
                    <h3>브링잇은 모닝커피의 <strong style="color:#E3344B">데스벨리</strong>를 채워줍니다.<br>
                    평균 구매율인 <font style="color:#E3344B">13%</font>를 넘어 구입의 편의성, 접근성을 증가시켜 최소 <font style="color:#56A9F6">15%</font>까지 증가시킬것입니다.<br>
                    즉, 한달에 <strong>378잔</strong>을 더 팔수있습니다.</h3>
                </div>
            </div>
        </div>
    </section>
    
     <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading">모닝커피를 약속하세요!</h1>
                    <hr class="light">
                      <div class="row">
                        <div class="col-md-6">
                            <img src="img/ui1.jpg" style="width: 50%"/>
                        </div>
                        <div class="col-md-6">
                            <img src="img/ui2.png" style="width: 50%"/>
                        </div>
                     </div>
                     <br>
                        <h3>Bring it이 약속을 지켜드리겠습니다!</h3>
                </div>
            
        </div>
    </section>

    <section id="summary" class="yellow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">한줄 요약</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-users"></i>
                        <h3>출근길에 모닝커피 구입을 실패하는 고객</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-credit-card"></i>
                        <h3>간편한 주문&결제 솔루션</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-coffee"></i>
                        <h3>소중한 모닝커피</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-line-chart"></i>
                        <h3>매출상승!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">연락주세요!</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-4x"></i>
                    <p>010-9596-7403</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-4x"></i>
                    <p><a href="mailto:your-email@your-domain.com">dwno31@bringit.kr</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
