<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>브링잇</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/bringit_letter.png" style="height:3vh"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about"><font color="black">스토리</font></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#summary"><font color="black">한줄요약</font></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact"><font color="black">제휴문의</font></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content"  style="padding-top:300px;" >
            <div class="header-content-inner">
            <div class="row" style="margin-right:65px!important;">
                <div class="col-md-7"></div>
                <div class="col-md-2">
                
                <a href="#about" class="btn btn-primary btn-xl page-scroll"><h1>Bring it!</h1></a>
                </div>
            </div>
            </div>
        </div>
    </header>
<section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="/img/let_me_drink.png" style="width:90%;"/>
                    <br>
            <div class="row">
            <div style="margin-top:70px">
                   <strong> <h4>모닝커피를 마시고 싶어하는 고객의 목소리를 들어주세요!</h4></strong>
            </div>
            </div>
                    <hr class="light">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img src="/img/story1.png" style="width: 100%;" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <img src="/img/dont.png" style="width: 80%;" />
                        <div style="margin-top:70px">
                            <img src="/img/story2.png" style="width: 100%;" />
                        </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <img src="/img/promise.png" style="width :100%;">
                    </div>
                    </div>
                <div class="row">
                    <div class="text-center">
                    <div style="">
                        <br><p><h3>브링잇의 3STEP과 함께라면 </h3></p>
                        <p><h3>고객에게 모닝커피와 함께하는 아침을 약속드릴 수 있습니다!</h3></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
     <section  id="about" style="padding-top:0;">
        <div class="container">
            <div class="row">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="/img/3steps.001.jpg" alt="3steps">
                            </div>
                            
                            <div class="item">
                                <img src="/img/3steps.002.jpg" alt="step0">
                            </div>

                            <div class="item">
                                <img src="/img/3steps.003.jpg" alt="step1">
                            </div>
                            
                            <div class="item">
                                <img src="/img/3steps.004.jpg" alt="step2">
                            </div>
                            
                            <div class="item">
                                <img src="/img/3steps.005.jpg" alt="step3">
                            </div>
                            
                            <div class="item">
                                <img src="/img/3steps.006.jpg" alt="end">
                            </div>
                        </div>
                        
                        <!-- Controls -->
                        <a class="left carousel-control" style="background-image:none;" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        
                        <a class="right carousel-control" style="background-image:none;"  href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            
        </div>
    </section>

    <section id="summary" class="yellow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">한줄 요약</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-users"></i>
                        <h3>출근길에 모닝커피 구입을 실패하는 고객</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-credit-card"></i>
                        <h3>간편한 주문&결제 솔루션</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-coffee"></i>
                        <h3>소중한 모닝커피</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-line-chart"></i>
                        <h3>매출상승!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">가맹신청</h2>
                        <hr class="primary">
                    </div>
                    <div class="col-md-6 col-md-offset-3" align="center">

                        <i class="fa fa-envelope-o fa-4x"></i>
                        <p><a href="mailto:help@bringit.kr">help@bringit.kr</a></p>
                        
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                          신청하기
                        </button>

                    </div>
                </div>
            </div>
        </section>
<footer style="
    padding-top: 20px;
    padding-bottom: 10px;
">
   
  
			<p style="color:#EAC046" align="center">대표:노대원&nbsp;&nbsp; TEL:070-4038-4906&nbsp; E-mail: help@bringit.kr<br><br>서울특별시 서대문구 연세로 50 연세대학교 경영관 209-1호 팀플래닛<br> 통신판매업신고:2015-서대문구-0672&nbsp; 사업자등록번호:319-01-00162 </p>  
		
			 <p style="color:#EAC046" align="center">©Copyright 2015 by TEAMPLANET. All Right Reserved.</p>
		
</footer>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">브링잇 제휴문의</h4>
      </div>
      <div class="modal-body">
       
       
            <div class="form-group">
                <input  class="form-control" id="companyName" type="text" name="company_name" placeholder="업체명">
            </div>
            <div class="form-group">
                <input class="form-control" id="empName" type="text" name="emp_name" placeholder="담당자명" >
            </div>
            <div class="form-group">
                <input class="form-control" id="tel" type="text" name="tel" placeholder="전화번호" >
            </div>
            <div class="form-group">
                <input  class="form-control" id="email" type="text" name="email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="contents" name="contents" placeholder="내용" ></textarea>
            </div>
            <div>
                <p>
                    개인정보 수집/이용 동의<br>
                    - 수집항목 : 이름, 이메일, 휴대전화번호<br>
                    - 수집/이용목적 : 제휴 문의에 대한 처리와 결과 회신<br>
                    - 보유/이용기간 : [전자상거래 등에서의 소비자보호에 관련 법률]에 의거하여 문의처리 후 3년간 보관 후 지체 없이 파기<br>
                    - 동의거부권 및 불이익 : 고객님께서는 동의를 거부하실 권리가 있습니다. 단, 동의를 거부하시는 경우에는 제휴문의 서비스를 이용하실 수 없습니다.
                </p>
            </div>
            <div class="agreement_cell">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" aria-label="...">개인정보 수집,이용에 동의합니다.
                    </label>
                </div>
             </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="ajaxExample()">보내기</button>
        
    </div>
  </div>
</div>
</div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

<script>
	function ajaxExample(){
    // 사용자 ID를 갖고 온다.
    var company = $("#company").val();
    var name = $("#name").val();
    var tel = $("#tel").val();
    var email = $("#email").val();
    var contents = $("#contents").val();
    var allData = { "company": company, "name": name,"tel": tel,"email": email,"contents": contents }

   $.ajax({
   url: "/provider/new_inquire",
   type: "POST",
   data: allData,
   dataType: "json",
   success: function(data) {
       alert('successfully');
     }
   });
};

</script>
</html>

