<% content_for :meta do %>
	    <meta property="og:url" content="https://devtalk.kakao.com/">
    <meta property="og:title" content="Kakao DevTalk_">  
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://devtalk.kakao.com/images/devtalk_.png">
    <meta property="og:description" content="카카오 데브톡. 카카오 플랫폼 서비스 관련 질문 및 답변을 올리는 개발자 커뮤니티 사이트입니다.">
<% end %>

<div class=whole_view>
	<div class=top_bar><span>브링잇</span></div>
	<div class=bringit_image></div>
	<div class=bringit_intro><p style="text-align:center">잘못된 접근입니다.<br>페이지를 종료해주세요</p></div>
</div>
