
<div class=login_div>
	<form action=/yellow/customer_data method=get>
		<input type=text placeholder=카톡닉네임 name=login_input id=login_input >
		<input type=submit value=GO>
	</form>
</div>

<script>

$(document).ready(function(){

	$("#login_input").focus();
	
});


</script>
