// Place all the styles related to the provider controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top_nav{
 margin:0;
 padding:0;
 height:56px;
 text-align:center;
 background-color:rgb(240, 196, 25);
 vertical-align:middle;
}

.top_nav span{
 color:white;
 padding:auto;
 font-size:2em;
 font-weight:800;
}