// Place all the styles related to the provider controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// {"order":"[{\"name\":\"아이스 카라멜마키아또\",\"count\":1,\"price\":4000,\"options_list\":\"샷  추가:1샷 추가,Size:Regular\",\"long_option\":\"\"},{\"name\":\"아이스 카라멜마키아또\",\"count\":1,\"price\":4000,\"options_list\":\"샷  추가:None,Size:Regular\",\"long_option\":\"\"}]", "order_number":"", "pickup_time":"2015.11.08 19:19", "payment_method":"kakaoPay", "has_pickedup":"false", "cafe":"뉴기니 버드", "user_sim":"8982300214008166717" }
//-------------네비게이션바
.top_nav{
 margin:0;
 padding:0;
 height:56px;
 text-align:center;
 background-color:rgb(240, 196, 25);
 
}
.fullpage-wrapper{
 height:100%;
}

.section{
 height:100vh!important;
}

.top_nav span{
 color:white;
 font-size:2em;
 font-weight:900;
}


//-------화면 기본

.slide_whole{
 background-color:rgb(224,224,224);
 height:100%;
 
}

.order_receipt{
 background-color:white;
 border-radius:3px;
 box-shadow: 5px 5px 5px #888888;
 margin:2%;
 height:18%;  
 width:29%;
 float:left;
}

.order_number{
 text-align:center;
 font-size:2em;
 font-weight:800;
 border-bottom:1px solid rgb(224,224,224); 
}

.order_info{
 margin:4px 2px 2px 4px;
 font-size:1em;
 height:65%;
}

.order_info p{
 margin:0;
}

.order_info span{
 font-size:1.5em;
 font-weight:800;
}

.order_item{
 width:100%;
 height:60%;
}
.infos{
 float:left;
 width:90%;
 margin:none;
 border-bottom:1px solid black;
 height:100%;
}
.info_count{
 font-size:1.5em;
 font-weight:800;
 vertical-align:middle;
 text-align:center;
 float:left;
 width:9%;
 height:100%;
}
.info_count span{
 vertical-align:middle;
}
.info_footer{
 text-align:center;
 bottom:0;
}
.info_footer span{
 font-size:1.5em;
 font-weight:800;
}

.slide_footer{
 position:absolute;
 right:0;
 left:0;
 bottom:0;
 background:rgb(240,196,25);
 height:10%;
 text-align:center;
 vertical-align:center;
}

.order_button {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  color: #ffffff;
  font-size: 3em;
  font-weight:700;
  background: #F0C401;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin:auto;
  border:none;
  position:relative;
  bottom:7%;
  display:block;
  
}

.order_button:hover {
  background: #d4aa00;
  text-decoration: none;
}


.footer_divider{
 display:inline-block;
 width:49.5%;
 padding-top:15px;
}

//--------액션관련



.order_active{
 background-color:rgb(240, 196, 25);
 
}

//---로그인 관련

.login_div{
 margin-top:5%;
 width:100%;
 height:70%;
}
.login_logo{
 height:50%;
 width:100%;
 background-image:url('/img/logo.png');
 background-repeat:no-repeat;
 background-position:center;
 background-size:contain;
}
.login_input{
 height:50%;
 background:white;
 width:100%;
 vertical-align:center;
 text-align:center;
 
}
.login_text{
 border-radius:5px;
 font-size:2em;
}
.login_button{
 background:rgb(240,196,25);
 color:white;
 font-weight:800;
 border:none;
 box-shadow:none !important;
}
