// Place all the styles related to the yellow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

html,body{
	height:100%;
	margin:0;
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
*{
    outline: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
 input, input:before, input:after {
      -webkit-user-select: initial;
      -khtml-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
     } 
//로그인창 

.login_div{
	text-align:center;


}

	.login_div > form > input{
		font-size:2em;
		text-align:center;

	}


//고객 정보 제시 및 새 주문 창
div{
//	border:solid 1px black;
}
.whole_view{
	height:100%;
}

.data_div{
	height:80%;
	width: calc(100% - 500px);
	float:left;
}
	.data_div > div{
/*		float:left;	*/
	}
	.customer_status{
		width:20%;
		height:100%;
		float: inherit;
	}
	.order_records{
		width: 76%;
		height: 100%;
		float: inherit;
	}
		.Order_recordsTable {
			margin:0px;padding:0px;
			width:100%;
			border:1px solid #f7f4f4;
			
			-moz-border-radius-bottomleft:0px;
			-webkit-border-bottom-left-radius:0px;
			border-bottom-left-radius:0px;
			
			-moz-border-radius-bottomright:0px;
			-webkit-border-bottom-right-radius:0px;
			border-bottom-right-radius:0px;
			
			-moz-border-radius-topright:0px;
			-webkit-border-top-right-radius:0px;
			border-top-right-radius:0px;
			
			-moz-border-radius-topleft:0px;
			-webkit-border-top-left-radius:0px;
			border-top-left-radius:0px;
		}.Order_recordsTable table{
			border-collapse: collapse;
				border-spacing: 0;
			width:100%;
			height:100%;
			margin:0px;padding:0px;
		}.Order_recordsTable tr:last-child td:last-child {
			-moz-border-radius-bottomright:0px;
			-webkit-border-bottom-right-radius:0px;
			border-bottom-right-radius:0px;
		}
		.Order_recordsTable table tr:first-child td:first-child {
			-moz-border-radius-topleft:0px;
			-webkit-border-top-left-radius:0px;
			border-top-left-radius:0px;
		}
		.Order_recordsTable table tr:first-child td:last-child {
			-moz-border-radius-topright:0px;
			-webkit-border-top-right-radius:0px;
			border-top-right-radius:0px;
		}.Order_recordsTable tr:last-child td:first-child{
			-moz-border-radius-bottomleft:0px;
			-webkit-border-bottom-left-radius:0px;
			border-bottom-left-radius:0px;
		}.Order_recordsTable tr:hover td{
			
		}
		.Order_recordsTable tr:nth-child(odd){ background-color:#e5e5e5; }
		.Order_recordsTable tr:nth-child(even)    { background-color:#ffffff; }.Order_recordsTable td{
			vertical-align:middle;
			
			
			border:1px solid #f7f4f4;
			border-width:0px 1px 1px 0px;
			text-align:left;
			padding:7px;
			font-size:10px;
			font-family:Arial;
			font-weight:normal;
			color:#000000;
		}.Order_recordsTable tr:last-child td{
			border-width:0px 1px 0px 0px;
		}.Order_recordsTable tr td:last-child{
			border-width:0px 0px 1px 0px;
		}.Order_recordsTable tr:last-child td:last-child{
			border-width:0px 0px 0px 0px;
		}
		.Order_recordsTable tr:first-child td{
				background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
			background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

			background-color:#cccccc;
			border:0px solid #f7f4f4;
			text-align:center;
			border-width:0px 0px 1px 1px;
			font-size:14px;
			font-family:Arial;
			font-weight:bold;
			color:#000000;
		}
		.Order_recordsTable tr:first-child:hover td{
			background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
			background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

			background-color:#cccccc;
		}
		.Order_recordsTable tr:first-child td:first-child{
			border-width:0px 0px 1px 0px;
		}
		.Order_recordsTable tr:first-child td:last-child{
			border-width:0px 0px 1px 1px;
		}	

.new_order_div{
	height:30%;
	width:100%;
}
	#order_table{
		margin:auto;
		font-size:1.5em;
		text-align:center;
	}

.chg_div{
	width: 500px;
	float: right;
	height: 60%;
}

	.pusher_div{
		height: 100%;
	}
	
	.chg_login_div{
		text-align: center;
	}


//회원가입 페이지 레이아웃
.top_bar{
	height:6%;
	width:100%;
	display:table;
	background:#EAC046;
}
	.top_bar > span{
		padding-left:25px;
		color:white;
		display:table-cell;
		vertical-align:middle;
		}
.bringit_image{
	height:22%;
	}
.bringit_intro{
	height:15%;
	width:100%;
	display:table;
	}
	.bringit_intro > span{
		display:table-cell;
		vertical-align:middle;
		font-size:0.8em;
		}
.data_input{
	height:27%;
	}
	.phone_nu{
	height:33%;
	}
	.bday{
	height:33%;
	}
	.gender{
	height:33%;
	}
		.input_header{
			float:left;
			height:100%;
			width:30%;
			display:table;
			padding-left:27px;
			}
		.input_body{
			float:left;
			height:100%;
			width:60%;
			display:table;
			}
			.input_header > span{ 
				display:table-cell;
				vertical-align:middle;
				width:100%;
			}
			.input_body > div{
				display:table-cell;
				vertical-align:middle;
				width:100%;
			}
				.input_body > div > input{
					width:80%;
				}
hr{
	border:1px dashed #EAC046;
}
		
.agreement{
	height:15%;
	}
	.agreement_header{
	float:left;
	height:100%;
	width:30%;
	display:table;
	padding-left:27px;
	}
		.agreement_header > span{
			display:table-cell;
			vertical-align:middle;
		}	
	.agreement_content{
	float:left;
	height:100%;
	width:60%;
	}
		.usage_agree{
			width:100%;
			height:50%;
		}
		.data_use_agree{
			width:100%;
			height:50%;
		}
			.agree_checkbox{
				display:table;
				height:100%;
			}
				.agree_checkbox>div{
					display:table-cell;
					vertical-align:middle;
					width:100%;
				}
			.agree_detail{
				float:right;
				display:table;
			}
.join_button{
	height:7%;
	margin-top:2%;
	width:100%;
	text-align:center;
	}
	.button_div{
		height:100%;
		width:85%;
		margin:auto;
		display:table;
		border-radius:7px;
		background:#EAC046;
	}
		.button_div > span{
			color:white;
			display:table-cell;
			vertical-align:middle;
		}

