<form method=post action=/provider/add_menu>
<p>가게 id를 넣습니다<br><input type=text name=shop_id></p>
<p>옵션의 종류 및 가격을 넣습니다 ex)"Size:Regular_0/Large_300/Jumbo_500,우유:우유_0/두유_0/저지방우유_0"<br><input type=text name=option></p>
<p>메뉴를 넣습니다 이름/가격/아이스여부/카페인여부,~ ex) 카페모카/3400/0/0,~<br><textarea rows="10" cols=100 type=text name=menus></textarea></p>
<input type=submit value=만들어보장>
</form>
