<script>
$(document).ready(function() {
    $('#fullpage').fullpage({
        controlArrows: false
      
      });
});
</script>
<%= render partial: "provider_top" %>
<div id="fullpage">
    <div class="section">
      <div class="slide">hello1</div>
      <div class="slide">hello2</div>      
    </div>
    
</div>